.contact {
  padding-top: 10rem;
    height: 100vh;



    h2 {
      text-align: center;
      color: var(--black);
      margin-bottom: 5rem;

    }
 
    
  }

  .contact-form {

    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;



  }

  .contact-label {
    font-weight: 500;
    color: var(--black);
    margin-top: 10rem;
    margin-left: 0.5rem;
  
  }

  .contact-form-field {
    display: block;
    width: 100%;
    box-sizing: border-box;
margin-top: 0.5rem;
    border: 0;
    background-color: var(--light-gray);
    padding: 20px 40px;
    outline: none;
    color: black;
    transition: 0.5s;
    border-radius: 10px;

    &:focus {
      background-color: var(--secondary-color-light);
    }



 
  }

  textarea.contact-form-field{
    resize: none;
    height: 140px;
  }

  .contact-form-btn {

    position: absolute;
    margin-top: 3rem;
    margin-right: 0;
 
    





    
    border: 0;
    background: var(--black);
    color: white;
    padding: 12px 50px;
    cursor: pointer;
    border-radius: 10px;
    &:hover {
      background-color: rgb(19, 19, 19);

  }
  }

  .contact-error {

    color: red;
    font-size: small;

    left: 200px;
margin-top: 3px;
float: right;
    align-items: center;
    height: 20px;
  }


  .contact-form-label-and-field {
    margin-top: 1.5rem;
  }

  .swal-button {
    padding: 7px 19px;
    border-radius: 7px;
    background-color: var(--black);
    font-size: 12px;
    font-weight: 500;

    &:focus {
      box-shadow: none
    }
 
    &:not([disabled]):hover {
      background-color: black;
    }
  }


  .swal-title {
    margin: 0px;
    font-size: 16px;
 
    margin-bottom: 28px;
  }