.story-section {
height: 90vh;
padding-top: 10%;

}

.story-section-main{
padding: 6rem;
display: flex;
flex-direction: row;
align-items: start;
justify-content:space-evenly;


@media screen and (max-width: 800px) {
    flex-direction: column;
}    
}


.story{

letter-spacing: 1px;
line-height: 2;
width: 40%;
font-size: large;
@media screen and (max-width: 800px) {
    width: 100%;
    padding: 2rem;
    font-size:small;
}         
}


.aboutme-section{


    background-color: var(--secondary-color-light);


    padding: 1.5rem 3rem;
    border-radius: 20px;
  
   
      margin: auto;
      max-width: 800px;
      min-width: 200px;
      
  
      p{
          padding: 1rem;
              }
  
  
}



    h2 {
        text-align: center;
        color: var(--black);
        margin-bottom: 5rem;
  
      }



  


