.aboutme {
  padding-top: 30rem;
  padding-bottom: 10rem;
}

.aboutme-section {


    background-color: var(--secondary-color-light);


    padding: 1.5rem 3rem;
    border-radius: 20px;
  
   
      margin: auto;
      max-width: 800px;
      min-width: 200px;
      
  
      p{
          padding: 1rem;
              }
  
  
.quote {
    font-style: italic;
    font-size: 1rem;
}

      .aboutme-author{
          align-self: flex-end;
          justify-self: flex-end;
          
        
      }

transition: 1s;
      &:hover {
        
      }
  }
  


