.aboutme {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.aboutme-section {

    background-color: var(--secondary-color-light);
    justify-content: center;
    display: flex;
    padding: 1.5rem 3rem;
    border-radius: 20px;
  
    flex-direction: column;
      margin: auto;
      max-width: 900px;
      
  
      p{
  
          padding: 1rem;
         

      }
  
  
.quote {
    font-style: italic;
    font-size: 1rem;
}

      .aboutme-author{
          align-self: flex-end;
          justify-self: flex-end;
          
        
      }

transition: 1s;
      &:hover {
        
      }
  }
  


